body {
    background-color: #ddccaa;
}

@media print {
    body {
        background-color: #ffffff;
    }
}

@media screen {
    .container {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }    
}

@media (color: 0) {
    #wikipedia-logo {
        display: none;
        visibility: hidden;
    }
}


/*
        Navegador        |  A partir de la version
         Chrome          |      38
          Edge           |      12
         Firefox         |      64
          Opera          |      28
         Safari          |      9
      WebView Android    |      38
       Chrome Android    |      50
     Firefox for Android |      64
      Opera Android      |      28
      Safari on iOS      |       9
      Samsung Internet   |      5.0
     Internet Explorer   |      No funciona
*/
@media (hover: hover) {
    blockquote {
        background-color: #ccddaa;
    }
}

@media (max-width: 200px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 300px) {
    h1 {
        text-align: center;
    }
}

@media (min-width: 200px) and (max-width: 400px) {
    .container {
        width: 80%;
    }
}


@media (min-width: 400px) {
    p {
        font-size: 1.3em;
    }

    .container {
        width: 390px;
    }
}

@media (aspect-ratio: 1/1) {
    figure {
        width: 80%;
        margin: 5px auto;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 10px;
    }
}
